# Core functionality - changes here should be rare!
/src/app.py                   @Thariga123
/src/backend/database.py      @Thariga123
/src/backend/routers/auth.py  @Thariga123

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Thariga123
